In [3]:
import numpy as np
import pandas as pd
import psycopg2
import datetime
from datetime import datetime, timedelta
from dateutil.relativedelta import *
import openpyxl
import matplotlib.pyplot as plt
from math import floor

In [4]:
start = datetime.now()
pd.options.display.float_format = '{:.2f}'.format

In [5]:
df = pd.read_csv(r'C:\Users\MSI\Downloads\gaps_p2p.csv', low_memory = False, parse_dates = ['pay_time'])

In [7]:
df = df.sort_values(['payer_id', 'pay_time'])

In [10]:
df['pay_time0'] = df['pay_time'].shift(-1)
df['payer_id0'] = df['payer_id'].shift(-1)

In [12]:
df['gap'] = np.where(df['payer_id'] == df['payer_id0'], (df['pay_time0'] - df['pay_time']).dt.days, np.nan)

In [13]:
df = df[pd.isna(df.gap) == False]

In [23]:
df_gap_max = pd.pivot_table(df, index = 'payer_id', values = 'gap', aggfunc = 'max').reset_index()

In [24]:
df_gap_median = pd.pivot_table(df, index = 'payer_id', values = 'gap', aggfunc = 'median').reset_index()
df_gap_median.gap = round(df_gap_median.gap)

In [27]:
df_gap_max.groupby('gap').count().to_excel(r'C:\Users\MSI\Downloads\max_gap_p2p.xlsx')
df_gap_median.groupby('gap').count().to_excel(r'C:\Users\MSI\Downloads\median_gap_p2p.xlsx')

In [36]:
df_gap_max.describe([.9, .95, .99])

             gap
count 3561868.00
mean      118.21
std       166.98
min         1.00
50%        64.00
90%       289.00
95%       414.00
99%       751.00
max     19070.00

In [35]:
df_gap_median.describe([.9, .95, .99])

             gap
count 3561868.00
mean       22.09
std        57.34
min         1.00
50%         7.00
90%        45.00
95%        87.00
99%       274.00
max      2417.00

9.633333333333333